.App {
    text-align: center;
  }
  .leftpane {
    width: 25%;
    height: 100%;
    float: left;
    background-color: wheat;
    border-collapse: collapse;
}
  .middlepane {
    width: 50%;
    height: 100%;
    float: left;
    background-color: royalblue;
    border-collapse: collapse;
}
